@import 'styles/vars';
@import 'styles/mixins';

.container {
    background-color: #F0F0F0;
    padding-top: 63px;
    margin-top: 50px;   
}
.nav {
    display: flex;
    flex-wrap: wrap;
}
.nav__item {
    width: 245px;
    &:not(:nth-child(3n)) {
        margin-right: 138px;
    }
}
.nav__item__title {
    a {
        font-family: $font2;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: $black;
        transition: color 0.2s ease;
        &:hover {
            color: $blue;
        }
    }
}
.nav__item__links {
    
}