@import 'styles/vars';
@import 'styles/mixins';

.container {
    overflow: hidden;
    margin-top: 45px;
    :global(.container) {
        padding-top: 65px;
        border-top: 1px solid #8C8C8C;
    }
}
.title {
    font-family: $font2;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: $black;
    letter-spacing: 0.5px;
}
.description {
    font-weight: 400;
    font-family: $font;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $gray;
    margin-top: 45px;
    p {
        margin: 0;
        & + p {
            margin-top: 12px;
        }
    }
}
.content__tabs {
    margin-top: 42px;
}
.content__cards {
    margin-top: 25px;
    position: relative;
    &:hover {
        .sliderPrev,
        .sliderNext {
            opacity: 1;
        }
    }
    &:before {
        display: block;
        height: 100%;
        width: 1500px;
        background-color: $lightGray;
        content: '';
        margin-right: 12px;
        position: absolute;
        top: 0;
        right: 100%;
        z-index: 5;
    }
    &:after {
        display: block;
        height: 100%;
        width: 1500px;
        background-color: $lightGray;
        content: '';
        margin-left: 12px;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 5;
    }
    :global(.swiper-container) {
        padding: 20px 0;
        overflow: visible;
    }
}
.sliderPrev,
.sliderNext {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: $black;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    opacity: 0;
    margin: auto;
    outline: none;
    border: none;
    border-radius: 50%;
    transition: background-color 0.2s ease, opacity 0.2s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 7;
    &:hover {
        background-color: $blue;
        svg {
            fill: $white;
        }
    }
    svg {
        display: block;
        height: auto;
        width: 8px;
        fill: $white;
        transition: fill 0.2s ease;
    }
}
.sliderPrev {
    left: -60px;
    svg {
        margin-right: 2px;
    }
}
.sliderNext {
    right: -60px;
    svg {
        margin-left: 2px;
    }
}