@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}
  
@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}
@mixin placeholder() {
    &::-webkit-input-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}
  
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }
    ::-webkit-scrollbar-track {
        background: $background-color;
    }
}

@mixin media-max-width($media) {
    @media only screen and (max-width: #{$media}px) {
        @content;
    }
}
@mixin media-min-width($media) {
    @media only screen and (min-width: #{$media}px) {
        @content;
    }
}
  
@mixin media-range-width($media-min, $media-max) {
    @media only screen and (min-width: #{$media-min}px) and  (max-width: #{$media-max}px) {
        @content;
    }
}
@mixin media-max-height($media) {
    @media only screen and (max-height: #{$media}px) {
        @content;
    }
}
@mixin media-min-height($media) {
    @media only screen and (min-height: #{$media}px) {
        @content;
    }
}