//- Utils
@import 'vars';
@import 'mixins';

//- Base
@import 'base/normalize.scss';
@import 'base/fonts.scss';

body {
    background-color: $lightGray!important;
    &.fixed {
        overflow: hidden;
    }
}

.container {
    width: 1120px;
    margin: auto;
    box-sizing: border-box;
}